amqp==5.2.0
annotated-types==0.7.0
async-timeout==5.0.1
billiard==4.2.1
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
fastapi==0.115.4
kombu==5.4.2
prompt-toolkit==3.0.48
psycopg2-binary==2.9.10
pydantic==2.9.2
pydantic-core==2.23.4
pymongo==4.10.1
python-dateutil==2.9.0.post0
python-dotenv==0.21.0
redis==5.2.0
requests==2.31.0
six==1.16.0
sqlalchemy==2.0.36
sqlmodel==0.0.22
typing-extensions==4.12.2
tzdata==2024.2
uvicorn==0.27.1
vine==5.1.0
wcwidth==0.2.13
google-api-python-client==2.100.0
openai==1.58.1
keybert==0.8.5
python-jose[cryptography]==3.3.0
hkdf==0.0.3
resend==2.5.1
slowapi==0.1.9